# Node
node_modules/
**/node_modules/
npm-debug.log
yarn-error.log
pnpm-lock.yaml
package-lock.json


# Env
.env
**/.env


# Build
dist/
build/


# Docker
*.log
docker-compose.override.yml


# IDEs
.vscode/
.idea/
.DS_Store


# Misc
screenshots/